.container {
	min-width:1280px;
}
header {
	position:fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:104px; 
	background:transparent; 
	z-index: 9999;
	
}

header.ty1 {background-color: rgba(247, 247, 247, 0.6)}
header.ty2, 
header.ty3, 
header.ty4 {
	background:rgba(227,205,189,0.8)
}

header .header_inner {
	position:relative; 
	width:1280px; 
	height:104px; 
	margin: 0 auto;
}
header .logo {
	display:inline-block; 
	width:76px;
	height:76px; 
	margin-top: 14px;
}
header .header_inner .menu {
	position:absolute; 
	right: 0px;
	top: 40px;
}
header .header_inner .menu li {
	float: left; 
	margin-left: 93px; 
	font-weight: 900; 
	font-size:18px;
}
header .header_inner .menu li a:hover {
	color: #8f7855;
	transition: 0.4s;
}
header .header_inner .menu {
	overflow: hidden;
}

/* --------------------- 페이지 -------------------- */
.page {
	position:relative; 
	height:100vh;
}
.page .inset {
	position:absolute; 
	top:0px; 
	left:0px; 
	right:0; 
	width: 1280px; 
/*	height:100%; */
	margin:0 auto;  
	z-index: 100;
}
.page .inset .titset {
	text-align:center; 
	
}
.page .inset .titset .hd3 {
	display:inline-block;
}
.page .inset .cont {
	display:flex; 
	
}

/* --------------------- 메인 -------------------- */

.page.main {z-index: 100;}
.page.main::after {
	content:""; 
	display: block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:1100px; 
	background:url('../img/main_vis2.jpg') no-repeat center;
	z-index: 100
}
.page.main .inset {
	position:relative; 
	width:1280px; 
	height:100%; 
	margin:0px auto; 
	z-index: 1000;}
.page.main .inset .titset {
	position:absolute; 
	top:270px; 
	left:25px;
}
.page.main .inset .main_photo {
	clip-path: polygon(0% 0%, 152% 0%, 121% 102%, -311% 54%);
	position:absolute; 
	right:210px; 
	top:115px;
	overflow:hidden;
}

.page.main .inset .main_photo img {
	transition:all .2s linear;
}
.page.main .inset .main_photo img:hover{
	transform: scale(1.1); }


/* --------------------- 인포 -------------------- */


.page.info {
	background-image: url("../img/section_2_bg.png");
	width:100%; 
	height:1167px;	
	position:relative;
	bottom: -64px;
}
.page.info .inset {
/*	border:1px solid #f00;*/
	margin-top: 70px;
}

.page.info .inset .titset {
	margin-top: 80px;
}

/*.page.info .inset .cont {margin-top:100px}*/
.page.info .inset .cont .grid {
	position:relative; 
	text-align: center;
	flex:1;
}

.page.info .inset .cont .grid .photo .simg { 
-webkit-clip-path: circle(170px at center);
    clip-path: circle(173px at center);
	position: absolute;
    top: 160px;
    left: 0;
    right: 0;	
	z-index: 100;
}
.page.info .inset .cont .grid .text_wrap .simg {
	-webkit-clip-path: circle(170px at center);
    clip-path: circle(173px at center);
	position: absolute;
    top: 160px;
    left: 36.4%;	
	z-index: 100;
}
.page.info .inset .cont .grid .photo {height:520px}
.page.info .inset .cont .grid .photo img {
/*	width:540px;*/
}

.page.info .inset .cont .grid .photo .arrow_wrap {
	z-index: 50;
	margin-right: 34px;	
}

.page.info .inset .cont .grid .photo .hashset {
position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: block;
    height: 100%;
    right: 0;
/*    border: 1px solid #f00;*/
	
	
}
.page.info .inset .cont .grid .photo .hashset .copy { 
transform:translateX(0) scale(0); opacity: 0; transition:all .2s linear;
	position:absolute;
}
.page.info .inset .cont .grid .photo .hashset .copy.ty1 { 
width:316px; height:86px;  top:380px;left:146px; 
background:url('../img/hash_copy01.png') no-repeat 0 0;	

}
.page.info .inset .cont .grid .photo .hashset .copy.ty2 { 
width:137px; height:58px; top:350px; right:300px;  
background:url('../img/hash_copy02.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty3 { 
width:141px; height:59px; top:140px; right:370px; 
background:url('../img/hash_copy03.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty4 { 
width:140px; height:58px; top:240px; left:300px;
background:url('../img/hash_copy04.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty5 { 
width:151px; height:21px; top:480px; left:350px; 
background:url('../img/hash_copy05.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty6 { 
width:466px; height:47px; top:560px; left:400px; 
background:url('../img/hash_copy06.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty7 { 
width:192px; height:31px; top:410px; right:280px; 
background:url('../img/hash_copy07.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty8{ 
width:196px; height:41px; top:205px; right:270px; 
background:url('../img/hash_copy08.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty9 { 
width:139px; height:33px; top:205px; left:320px;
background:url('../img/hash_copy09.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty10 { 
width:154px; height:42px; top:155px; left:350px; 
background:url('../img/hash_copy10.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty11{ 
width:106px; height:44px; top:55px; left:530px; 
background:url('../img/hash_copy11.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty12 { 
width:104px; height:42px; top:255px; right:350px; 
background:url('../img/hash_copy12.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty13 { 
width:202px; height:43px; top:510px; left:360px; 
background:url('../img/hash_copy13.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty14 { 
width:159px; height:35px; top:300px; right:280px; 
background:url('../img/hash_copy14.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty15 { 
width:207px; height:36px; top:99px; right:560px; 
background:url('../img/hash_copy15.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty16 { 
width:197px; height:62px; top:285px; left:240px; 
background:url('../img/hash_copy16.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty17 { 
width:134px; height:45px; top:255px; right:210px; 
background:url('../img/hash_copy17.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.ty18{ 
width:86px; height:34px; top:60px; right:550px; 
background:url('../img/hash_copy18.png') no-repeat 0 0;	
}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty1 {animation-delay: 0.02s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty2 {animation-delay: 0.4s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty3 {animation-delay: 0.4s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty4 {animation-delay: 0.4s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty5 {animation-delay: 0.6s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty6 {animation-delay: 0.6s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty8 {animation-delay: 1s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty9 {animation-delay: 1s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty10 {animation-delay: 1s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty11 {animation-delay: 0.7s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty12 {animation-delay: 0.7s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty13 {animation-delay: 1s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty14 {animation-delay: 1s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty15 {animation-delay: 1s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty16 {animation-delay: 1s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty17 {animation-delay: 1s}
.page.info .inset .cont .grid .photo .hashset .copy.on.ty18 {animation-delay: 0.7s}


.page.info .inset .cont .grid .text_wrap {
	width:100%;
	height:520px;
	position:absolute;
	top:0;
	left:0;
	margin-top:0;
	text-align:left;
/*	background-color: wheat;*/
}
.page.info .inset .cont .grid .text_wrap h3 {
	font-size:35px;
	margin-bottom: 10px
}
.page.info .inset .cont .grid .text_wrap .left_box {
	float:left;
	font-size:19px;
	margin-left:215px;
	margin-top: 214px;
}
.page.info .inset .cont .grid .text_wrap .right_box {
	float:right;
	margin-right:163px;
	font-size:21px;
	margin-top: 214px;
}
.page.info .inset .cont .grid .text_wrap .right_box>div {
	float:left;

}
.page.info .inset .cont .grid .text_wrap .right_box p {
	margin-right: 30px
}
.page.info .inset .cont .grid .text_wrap .right_box p,
.page.info .inset .cont .grid .text_wrap .left_box p{
	margin-bottom: 10px;
	font-size: 17px
}

.page.info .inset .cont .grid .arrow_wrap{
    width: 202px;
    height: 45px;
/*    background-color: #B49E93;*/
    position: absolute;
    bottom: 19px;
    right:368px;
	margin-right: 27px;
   
}
/*
.page.info .inset .cont .grid .text_wrap .arrow_wrap {
	width: 202px;
    height: 45px;
    background-color: #B49E93;
    position: absolute;
    bottom: 31px;
    right:340px;
	margin-right: 37px;
}
*/

.page.info .inset .cont .grid .photo>img {
	margin-top:162px; 
}
.page.info .inset .cont .grid .text_wrap>img {
	position:absolute;
	right: 36%;
	top: 0
	
}
.page.info .inset .cont .grid .photo .hashset .copy.on { 
/*transform:scale(1); opacity: 1*/
animation : copyScl .5s linear 1;	
animation-fill-mode: forwards	
}

@keyframes copyScl { 
	0% { }
	50% { }
	100% {transform:translateX(0) scale(1); opacity: 1}
}

/* ----------------------- 리뉴얼 ---------------------- */

.page.renewal {
    background-image: url(../img/section_3_bg.png);
    width: 100%;
    height: 1240px;
    position: relative;
    top: 0;
    margin-top: -210px;
}
.page.renewal .inset{
/*border:1px solid #f00;*/
}
.page.renewal .inset .titset {
	margin-top: 238px; 
}
.page.renewal .cont {
	margin-top: 85px;
}
.page.renewal .inset .info_btn {
	margin-left: 214px
}
.page.renewal .inset .info_btn>ul{
	width:600px;
	height:50px;
	float:left;
	margin-top:30px;
	
}
.page.renewal .inset .info_btn .btn_r,
.page.renewal .inset .info_btn .btn_l{
	    width: 194px;
    height: 50px;
    border-radius: 38px;
    background-color: #e2ccbb;
    line-height: 50px;
    text-align: center;
	
}

.page.renewal .inset .info_btn .btn_r {font-size:0}
.page.renewal .inset .info_btn .btn_r > li {
	display:inline-block;
	width:50%;
}

.page.renewal .inset .info_btn .btn_r > li > a { 
font-size:1rem; position:relative
}

.page.renewal .inset .info_btn ul[class^="btn"] > li > a:after { 
	content:""; 
	display:inline-block; 
	width:18px; height:19px;
	background:url('../img/renewal_line.png') no-repeat 0 0; 
	vertical-align: middle;
	margin-left: 2px;
}

.page.renewal .inset .info_btn .btn_r > li + li > a:before {
	content:""; 
	display:inline-block; 
	width:1px; 
	height:10px;
	background:#111; 
	margin:0 10px; 
	position:absolute; 
	top:0; 
	left:0; 
	bottom:0; 
	margin:auto;
}

.page.renewal .inset .cont .grid .referset {
	display:flex; 
	width: 490px; 
	margin-top: 63px;
}
.page.renewal .inset .cont .grid .screen img {
	width:625px;
}

.page.renewal .inset .cont .grid:last-child {
	margin-left: 49px;
	width:480px;
}
.page.renewal .inset .cont .grid .referset .re_grid { 
	flex:1;}
.page.renewal .inset .cont .grid .referset .re_grid .re_list > dt,
.page.renewal .inset .cont .grid .referset .re_grid .re_list > dd { 
	margin-bottom: 18px;
}
.page.renewal .inset .cont .grid .referset .re_grid:first-child {
	font-size: 17px;
	font-weight: 600;
}
.page.renewal .inset .cont .grid .referset .re_grid .re_list > dd:last-child {
	line-height: 27px;
}

.page.renewal .inset .cont .grid .referset .re_grid .re_list .circle {
	width:332px;
	float: left;
}
.page.renewal .inset .cont .grid .referset .re_grid:last-child .re_list {
	width: 341px;
}
.page.renewal .inset .cont .grid .referset .re_grid .re_list > dd .one {
	width: 22px; 
	height: 22px; 
	border-radius: 50%; 
	background-color: #000; 
	float: left; 
	margin-right: 15px;}

.page.renewal .inset .cont .grid .referset .re_grid .re_list > dd .one:nth-child(1){
	background-color: #d8b2a8
}
.page.renewal .inset .cont .grid .referset .re_grid .re_list > dd .one:nth-child(2){
	background-color: #873a26
}
.page.renewal .inset .cont .grid .referset .re_grid .re_list > dd .one:nth-child(3){
	background-color: #ffba82
}

/* ----------------------- 아트워크 ---------------------- */


.page.artwork {
	background-image: url("../img/section_4_bg.png");
	width:100%; 
	height:3450px; 
	position: relative;
	background-repeat: no-repeat;
	margin-top: -243px;
}
.page.artwork .titset {
	margin-top: 245px;
}
.page.artwork .inset{
/*	border:1px solid #f00;*/
}
.page.artwork .inset p {
	text-align: center;
	padding: 20px 0;
	font-size: 40px;
	font-family: 'Crimson Text', serif;

}
.page.artwork .inset .cont {

/*	width:1110px;*/
	/* height: auto; */
	margin:10px auto 20px;
	/* background-color: #873a26; */
}
.page.artwork .inset .cont .box {
	width:970px;
	margin: 0 auto;
}

.page.artwork .inset .cont .box>li{
	float: left;
	margin-bottom: 30px;	
	overflow: hidden;
}

.page.artwork .inset .cont .box>li img{
	transition: 0.5s;
}

.page.artwork .inset .cont .box>li:nth-child(1),
.page.artwork .inset .cont .box>li:nth-child(4),
.page.artwork .inset .cont .box>li:nth-child(5){
	width: 535px;
	height: 675px;

}

.page.artwork .inset .cont .box>li:nth-child(2),
.page.artwork .inset .cont:first-child .box>li:nth-child(3),
.page.artwork .inset .cont .box>li:nth-child(6)
{
	width: 410px;
	height: 675px;
}
.page.artwork .inset .cont:last-child>li:nth-child(3) {
	width:900px;
	height:405px;
	margin-right: 0; 
}
.page.artwork .inset .cont .box>li:hover img{
	transform: scale(1.1);
}
.page.artwork .inset .cont .box>li:nth-child(1),
.page.artwork .inset .cont .box>li:nth-child(3){
	margin-right: 25px;
}


.page.artwork .inset .cont .box>li:nth-child(4){
	margin-bottom: 0;
}

.lypop {position:fixed; top:0; left:0; width:100%; height: 100vh;  z-index: 9999; display: none}

.lypop.small .inner {width: 550px; margin-left:-250px; margin-top: -443px;}
.lypop.horzn .inner {
	width: 1000px;
    margin-left: -500px;
    margin-top: -228px;}
.lypop .inner {position:absolute; width:740px; height:96vh; top:50%; left:50%; margin:-48vh 0 0 -400px; z-index: 100; }
.lypop .inner .lypopcont .simg:nth-child(5) {
	width:750px;
}

.lypop .inner .lypopcont .simg img {width:100%}

.lypop .lypopcont {overflow: auto; height:100%; overflow-x:hidden;}
.lypop .inner .closebtn { 
position:absolute; top:0; right:-30px;
display:block; width:30px; height:30px; background:#ccc;
}

.lypop .inner .closebtn .arrset {display: block; width:30px; height: 30px; position:absolute; top:0; left: 0; right:0; bottom:0; margin:auto;}
.lypop .inner .closebtn .arrset span {display:block; width:30px; height:2px; background:#fff; }
.lypop .inner .closebtn .arrset span + span {margin-top:10px}
.lypop .inner .closebtn .arrset span:nth-child(1) {transform: translateY(13px) rotate(45deg)}
.lypop .inner .closebtn .arrset span:nth-child(2) {transform: translateY(1px) rotate(-45deg)}


.lypop .lypopcont .simg {

	}
.lypop .bg {position:absolute; top:0; left:0; width:100%; height: 100vh; background:rgba(0,0,0,0);}

.lypop.on {display:block}
.lypop.on .bg {/* background:rgba(0,0,0,.7) */animation: bgani .5s linear 1; background:rgba(0,0,0,.3) }


@keyframes bgani { 
	0% {background:rgba(0,0,0,0)}
	50% {}
	100% {background:rgba(0,0,0,.3)}
}



/*-------------패키지 디자인------------*/

.page.contact {
	background-image: url("../img/section_6_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	height:800px;
	position: relative;
	margin-top: -374px;
}
.page.contact .inset .titset {
	margin-top: 267px;
}
.page.contact .inset .cont {
/*	width:500px;*/
	margin: 89px auto 0;
}
.page.contact .inset .cont .simg {
	margin: 0 auto;
}
.page.contact .inset .cont .box span {
	display: inline-block;
}
.page.contact .inset .cont .box {
	flex: 1;
	text-align: center;
}
.page.contact .inset .cont .box:last-child {
	margin-right: 0;
}

.page.contact .inset .cont .box p {
	margin-top: 12px;
	color:#E7E7E7;
}