body {
	
}
.wrap {
	
	min-width:1280px;
}



/*공통영역 끝*/

.section_1 {
    height: 100vh;
    position: relative;
    background: url(../img/main_bg.jpg) no-repeat center;
    background-size: cover;
	background-attachment: fixed
}

.section_1 .container {
	overflow: hidden;
	text-align: center;
/*	display: flex;*/
	height:100%;
}

.section_1 .hd2 {text-align: center;}

.section_1 .hd2 img {
   margin: 22% auto;
}

/* 	section_1 end	*/

.section_2 {
	height: 1510px;
	
}

header {
    height: 110px;
    position:absolute;
    top: 100vh;
/*    border: 1px solid #f00;*/
    z-index: 9999;
    background: #fff;	
	left:0; right:0
}
header.fixed { 
position:fixed;
top:0	
}

.in_header {
	height:100%;
/*    background-color: aquamarine;*/
}



.in_header .logo {
	width: 215px;
	height:75px;
	float: left;
	margin: 25px 0 0 85px;
}
.in_header .logo .hd1 {
	margin-left: 94px;
}
.in_header .title_wrap{
    /*width: 750px;*/
    height: 50px;
/*    background-color: aqua;*/
    float: right;
    margin: 25px 85px 0 0;
	position:relative; z-index: 1000
}

.in_header .title_wrap>li{
    width: 150px;
    float: left;
    margin-right: 16px;
    text-align: center;
    line-height: 70px;
    font-size: 22px;
/*	font-family: 'MapoGoldenPier';*/
/*    background-color: antiquewhite*/
}

.in_header .title_wrap > li > a {
	display:block; 
	font-family: 'Crimson Text', serif;
    font-weight: bolder;
    font-size: 28px;
}
.in_header .title_wrap > li > a:hover {
	color: #5B2200;
	
}
.in_header .title_wrap .dp2 {height:0; overflow: hidden; transition:all .5s linear; opacity:0}
.in_header .title_wrap .dp2 > li {line-height: 1.5 }
.in_header .title_wrap .dp2 > li > a {color:#fff; font-size:14px; padding:13px 0}
.in_header:hover .title_wrap .dp2 {height:150px; overflow: hidden; opacity:1;}
.in_header .title_wrap .dp2 > li > a:hover {
	color: #A8A8A8; transition: 0.5s;
}

.in_header .sub_wrap{    
    height: 0;
    position: absolute;
    top: 90px;
    left: 0;
	right:0;
    z-index: 99;
    overflow: hidden;
    transition-duration: 1s;
    background-color:#352E29;
    color: #fff;
}

.in_header:hover .sub_wrap{
    height: 195px;
    /*opacity: 1;*/
}
.in_header .sub_wrap .sub_container {
	margin-right: 90px;
}

.in_header .sub_wrap .sub_container>ul{
    width: 150px;
    float: right;
    text-align: center;
    margin: 15px 25px 0 0;
}

.in_header .sub_wrap .sub_container>ul:first-child{
    margin-right: 8px;
}

.in_header .sub_wrap .sub_container>ul>li{
    width: 100%;
    transform: translateY(0);
    line-height: 50px;
    transition-duration: 1s;
}

.in_header .sub_wrap .sub_container>ul>li:hover{
    color: #888;
}

.in_header:hover .sub_container>ul>li{
    transform: translateY(50)
}

.in_header .title_wrap>li:last-child{
    margin-right: 0;
}


             /*header end*/
.section_2 {height: 135vh; display: flex; flex-direction: column}
.section_2 .section2_box:first-child {flex:2.5}
.section_2 .section2_box:last-child {flex:1}
.section_2 .section2_box .figure {
	flex: 1;
	margin-left: 191px;
}
.section_2 .section2_box .titset {
	position:absolute;
}
.section_2 .section2_box {    
	position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
   
}
.section_2 .section2_box>.grid {
	height:413px;
/*	background-color: aquamarine;*/
	width: 50%;
}
.section_2 .section2_box>.grid:first-child {
	
}
.section_2 .section2_box>.grid:last-child{
	overflow: hidden;
}
.section_2 .con_box {
	float:left;
	width:100%;
	height:1400px;
/*	background-color: antiquewhite;*/
}

.section_2 .container {
	height: 100%;
	position:relative;
	display: block;
	content:'';
	clear: both;
}

.section_2 .con_box .img_box {
	width :760px;
	height: 952px;
	margin-top: 10px;
	margin-left: 100px;
}
.section_2 .con_box .title_box {
	width:675px;
	height: 121px;
	position:absolute;
	top:30%;
	left:50%;
	margin-left: -337.5px;
}

.section_2 .section2_box .main_tit {
	font-size: 132px;
	position: absolute;
	top:54%;
	right:24%;
	font-family: 'Italianno', cursive;
	text-shadow: 2px 2px 6px gray;
	font-weight: 300;
}

.section_2 .grid .txt_box {
	color: #1B1B1B;
    text-align: right;
    float: right;
    margin: 105px 20px 69px 0;
    font-size: 20px;
}
.section_2 .grid .txt_box h3 {
	font-size: 35px;
	font-weight: 550;
}

.section_2 .grid .txt_box p {
	margin: 8px 0 23px;	
	font-size: 18px;
}

.section_2 .grid .txt_box .btn {
	width:150px;
	height:46px;
/*	border: 1px solid #817e7c;*/
	box-sizing:border-box;
	text-align: center;
	line-height: 46px;
	float: right;
}

.section_2 .grid .txt_box .btn a {
	width :150px;
	height:46px;
	line-height:46px;
	font-size:17px;
	border:1px solid #272727;
/*	margin: 20px auto;*/
	transition-duration: 1s;
}
.section_2 .grid .txt_box .btn a:hover{
    background-color: #474747;
    border: 1px solid #474747;
	color: #E5E5E5;
}

.section_2 .con_box .event .right_box {
	background-image: url(../img/section_2_img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center
}
.section_2 .con_box .event .right_box img {
	width: 100%;
	height: 100%;
}

             /*header end*/
.section_2 {
	margin-bottom: 110px;
}
.section_2 .con_box {
	float:left;
	width:100%;
	height:1400px;
/*	background-color: antiquewhite;*/
}

.section_2 .container {
	height: 100%;
	position:relative;
	display: block;
	content:'';
	clear: both;
}

.section_2 .con_box .img_box {
	width :760px;
	height: 952px;
	margin-top: 10px;
	margin-left: 100px;
	float: left;
}
.section_2 .con_box .title_box {
	width:675px;
	height: 121px;
	position:absolute;
	top:30%;
	left:50%;
	margin-left: -337.5px;
}

.section_2 .con_box .main_tit {
	font-size: 132px;
	position: absolute;
	top:40%;
	right:20%;
/*	font-family: 'Dancing Script', cursive;*/
/*	font-family: 'Mr Dafoe', cursive;*/
	font-family: 'Lora', serif;
	text-shadow: 2px 2px 6px gray;
	font-weight: 300;
}
.section_2 .con_box .event {
	height: 417px;
	width:100%;
/*	background-color: aqua;*/
	float: left;
}

.section_2 .con_box .event>div {
	height:100%;
	float: left;
}

.section_2 .con_box .event .left_box {
	font-size: 20px;
	width:860px;
}
.section_2 .con_box .event .left_box .txt_box {
	color:#1B1B1B;
	text-align: right;
	height:170px;
	float: right;
	margin: 105px 20px 155px 0;
}

.section_2 .con_box .left_box .txt_box h3 {
	font-size: 35px;
	font-weight: 550;
}

.section_2 .left_box .txt_box p {
	margin: 8px 0 23px;	
}

.section_2 .left_box .txt_box .btn {
	width:150px;
	height:46px;
/*	border: 1px solid #817e7c;*/
	box-sizing:border-box;
	text-align: center;
	line-height: 46px;
	float: right;
}

.section_2 .left_box .txt_box .btn a {
	width :150px;
	height:46px;
	line-height:46px;
	font-size:17px;
	border:1px solid #C7C7C7;
/*	margin: 20px auto;*/
	transition-duration: 1s;
}
.section_2 .left_box .txt_box .btn a:hover{
    background-color: #C7C7C7;
    color: #121212;
    border: 1px solid #C7C7C7;
/*	font-weight: 600;*/
}

.section_2 .con_box .event .right_box {
	background-image: url(../img/section_2_img.png);
	background-repeat: no-repeat;
	background-size: cover;
	width:1043px;
}
.section_2 .con_box .event .right_box img {
	width: 100%;
	height: 100%;
}
/*section2 end*/



/*section_2_2 end*/


.section_3 {
	height: 718px;
	padding-top:76px;
	background-color:#f4f1ec;
}
.section_3 .cont_t2 .cont2_tit{
	width:787px;
	height:115px;
	margin: 0 auto;
}

.section_3 .cont_t2 .btn {
	width:377px;
	height:70px;
	margin: 78px auto 112px;
	text-align: center;
	position:relative;
}

.section_3 .cont_t2 .btn .icons > li{
	display: inline-block;
	margin-left: 74px;
}
.section_3 .cont_t2 .btn .icons > li:last-child img{
	margin-left: 7px;
}
.section_3 .cont_t2 .btn .icons > li:first-child {
	margin-top: 7px;
	margin-left: 0
}


.section_3 .cont_t2 .btn .icons > li > a { 
display:block;
}

.section_3 .cont_t2 .btn .icons > li > a .icon { 
	display: inline-block;
	width:47px; height:30px; 
	background:url('../img/coffe_imgsep3.png');
	transition:background .2s linear;
	
}
.section_3 .cont_t2 .btn .icons > li:nth-child(1) > a .icon { 
background-position: 0 0;
}
.section_3 .cont_t2 .btn .icons > li:nth-child(2) > a .icon { 
background-position: -47px 0
}
.section_3 .cont_t2 .btn .icons > li.on:nth-child(1) > a .icon { 
background-position: 0 -30px;
}
.section_3 .cont_t2 .btn .icons > li.on:nth-child(2) > a .icon { 
background-position: -47px -30px
}

.section_3 .cont_t2 .capsule {
/*	border:1px solid #f00; */
	text-align: center;
	margin-top:50px
}
.section_3 .cont_t2 .capsule .cont {display: none;
	width: 1400px;
	margin: 0 auto;}
.section_3 .cont_t2 .capsule .cont:first-child {display:flex;}
.section_3 .cont_t2 .capsule .cont > div {flex:1;
/*    justify-content: space-between;*/
    margin: 0 50px;}
.section_3 .cont_t2 .capsule .cont > div img {width:100%}
/*.section_3 .cont_t2 .capsule .cont:first-child {display:block}*/

.section_3 .cont_t2 .btn .icon_bar {
	border-bottom: 1.5px solid #666;
	position:absolute;
	bottom:-10px;
	left: 0;
	right:0;
}

.section_3 .cont_t2 .btn .icon_bar span {
	width: 0;
    height: 0;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #8B8B8B;
    border-left: 13px solid transparent;
    display: block;
    position: relative;
    left: 82px;
	bottom: 2px;
	transition:left .25s linear
}
.section_3 .capsule .container {
	height:220px;
}

.section_3 .capsule .container .cont:first-child>div{ }
.section_3 .capsule .container .cont>div:last-child {
	margin-right: 0;
}
.section_3 .capsule .container .capsule_box .img_box{
/*    width: 215px;*/
    margin: 0 12.5px;
}
.section_3 .capsule .container .capsule_box span {
	display :block;
	margin-top: 8px;
}
.section_3 .capsule .container .capsule_box .txt {
	margin-top: 11px;
}
.section_3 .capsule .container .capsule_box .btn{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 50px;
    color: #fff;
    background-color: #817e7c;
	margin-top: 10px;
}
.section_3 .capsule .container .cont:last-child>div{
    float: left;
	width:180px;
	margin-right: 63px;
/*	background-color: aquamarine;*/
	text-align: center;
}
.section_3 .cont_t2 .capsule .cont:last-child .capsule_box {
	width:180px;
}
.section_3 .cont_t2 .capsule .cont:last-child .capsule_box:last-child {
	margin-right: 0;
}
/*section3 end*/



.section_5 {
	height: 870px;
	margin-top: 130px;
/*	background-color: aquamarine;*/
}

.section_5 .container {
	height:100%;
/*	background-color: violet;*/
	position:relative;
/*	width:1580px;*/
	margin: 0 auto;
}
.section_5 .container>h3 {
	font-size: 50px;
	text-align: center;
	padding: 0 0 50px;
}

.section_5 .slide_wrap {
	width: 1400px;
/*	background-color: wheat;*/
	margin: 0 auto;
	height: 520px;
/*	overflow: hidden;*/
	position:relative;
}

.section_5 .image_wrap {
	width:1400px;
	height:100%;
/*	background-color: tomato;*/
}
.section_5 .image_box {
	width:433.333px;
	height:100%;
	margin-right: 50px;
	float: left;
	position:relative;
	overflow: hidden;
}
.section_5 .image_box:last-child {
	margin-right: 0;
}
.section_5 .image_box .txt_box {
	width:100%;
	height:150px;
	background-color: rgba(0,0,0,0.5);
	position:absolute;
	bottom: 0;
	left: 0;
	color: #fff;
}
.section_5 .image_box .txt_box h3 {
	font-size: 30px;
	letter-spacing: -3.5px;
	margin:20px 0 0 20px;
}
.section_5 .image_box .txt_box p {
	font-size: 20px;
	font-weight: 300;
	color:#bbb;
	letter-spacing: -1.5px;
	margin:15px 0 0 20px;
}
.section_5 .txt_box .arrow {
	height: 15px;
	width: 80px;
	position:absolute;
	right:50px;
	bottom:15%;
	transition-duration: 0.7s;
}

.section_5 .image_box:hover a>img {
	transform: scale(1.15);
	
}
.section_5 .image_box>a>img {
	transition-duration: 0.7s;
}
.section_5 .image_box:hover .arrow {
	right: 30px;
}

.section_5 .container .arrow_box {
	width:100%;
	height:75px;
	position:absolute;
	top:45%;
	left: 50%;
	margin-top:-37.5px;
	margin-left: -790px;
	cursor: grab;
}
.section_5 .container .arrow_box>div {
	width:40px;
	height:100%;
	float: left;
}

.section_5 .container .arrow_box .right {
	float: right;
}
/*secition5 end*/
.section_6 {
	height:960px;
}
.section_6>div {
	width:100%;
	height:480px;
	float: left;
	background-color: yellowgreen;
}

.section_6 .top_box>div {
	width:50%;
	height:100%;
	float: left;
}

.section_6 .top_box .left_box{
	background-image: url(../img/section7_img1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.section_6 .left_box .txt_box {
	color:aliceblue;
	text-align: right;
	height:170px;
	float: right;
	margin: 155px 30px 155px 0;
}
.section_6 .left_box .txt_box h3 {
	font-size: 35px;
	font-weight: 550;
}
.section_6 .left_box .txt_box p {
	font-size: 20px;
	margin: 5px 0 20px;
}
.section_6 .left_box .txt_box .btn {
	width:150px;
	height:46px;
/*	border: 1px solid #817e7c;*/
	box-sizing:border-box;
	text-align: center;
	line-height: 46px;
	float: right;
}
.section_6 .left_box .txt_box .btn a {
	width :150px;
	height:46px;
	line-height:46px;
	font-size:17px;
	border:1px solid #C7C7C7;
/*	margin: 20px auto;*/
	transition-duration: 1s;
}
.section_6 .left_box .txt_box .btn a:hover{
    background-color: #C7C7C7;
    color: #121212;
    border: 1px solid #C7C7C7;
/*	font-weight: 600;*/
}

.section_6 .bottom_box {
	background-image: url(../img/section7_img4.png);
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
}
.section_6 .bottom_box .txt_box {
	width:600px;
	height:100px;
	position:absolute;
	top:43%;
	right:16%;
	color: aliceblue;
}
.section_6 .bottom_box .icon {
	width:100px;
	height:75px;
	position:absolute;
	top:30%;
	right:43%;
	
}
.section_6 .bottom_box .txt_box p:first-child {
	font-size: 20px;
}
.section_6 .bottom_box .txt_box p:last-child {
	color: #bbb;
	margin-top: 15px;
}

.section_6 .right_box {background:url('../img/section7_img3.png') no-repeat center; background-size:cover }

footer {
	height:450px;
	background-color: #2c2a29;
}
footer>div {
	width:100%;
	float:left;
	color :#bbb;
}
footer .top_box {
	height:80px;
	border-bottom: 1px solid #7c7c7c;
	box-sizing: border-box;
}

footer .top_box .footer_wrap>li {
	float: left;
	margin-right:60px;
	transition-duration: 0.3s;
}
footer .top_box .footer_wrap>li:last-child {
	margin-right: 0;
}
footer .top_box .footer_wrap {
	text-align: center;
    height: 30px;
	width:900px;
	margin: 0 auto;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
/*    margin: 0 450px;*/
    align-items: center;
    height: 100%;
	
}
footer .top_box .footer_wrap>li:hover {
	color: #fff;
}
footer .bottom_box {
	height:370px;
	
}

footer .btm_box .footer_logo {
	width:180px;
	height:32px;
	margin: 45px auto;
	
}
footer .btm_box .footer_logo>img{
	width:100%;
	height:100%;
}
footer .btm_box .txt_box {
	width:710px;
	height:60px;
	text-align: center;
	margin: 0 auto;
}
footer .btm_box .txt_box p {
	margin-top: 10px;
}
footer .btm_box .txt_box p:first-child {
	margin-top: -10px;
}

footer .btm_box .copy {
	margin: 40px auto;
	width :360px;
}